In [1]:
import numpy as np
import pandas as pd

In [2]:
train_df = pd.read_csv('../data/train.csv')
train_df.head()

,text_a,text_b,socre
0,"It depends on what you want to do next, and wh...",It's up to you what you want to do next.,4.00
1,"Wal-Mart, Kohl's Corp., Family Dollar Stores I...","Wal- Mart, Kohl's Corp., Family Dollar Stores ...",4.75
2,A girl in water without goggles or a swimming ...,"A girl in water, with goggles and swimming cap.",3.00
3,"If I understand you correctly, you are looking...",Inclusion is the act of including and exclusio...,2.60
4,A Das Air Cargo plane sits on the runway.,A passenger plane parked on a runway.,3.20

In [3]:
test_df = pd.read_csv('../data/test.csv')
test_df.head()

,text_a,text_b
0,Trans fats are created when hydrogen is added ...,Trans fats are created when vegetable oil has ...
1,"In Russian, for example, animacy is not clear-...","As in Russian, Polish marks animate masculine ..."
2,The answer to both questions is: Yes.,If the answer to any of these questions is yes...
3,Q: Can I buy coverage for prescription drugs r...,Congress has added a new benefit - an option t...
4,New legit download service launches with PC us...,BuyMusic is the first subscription-free paid d...

In [4]:
def solve(row):
    columns = ['text_a', 'text_b']
    ans = row['text_a'] + row['text_b']
    return ans

In [5]:
train_df['text'] = train_df.apply(lambda row: solve(row), axis=1)
test_df['text'] = test_df.apply(lambda row: solve(row), axis=1)

In [6]:
texts = train_df.text.tolist()
max_len = 0
df_len_list = []
for i in range(len(texts)):
    text = []
    text = texts[i]
#     if max_len < len(text):
#         print(text)
    df_len_list.append(len(text))
    max_len = max(max_len, len(text))
print(max_len)

390

In [7]:
sorted_len = sorted(df_len_list)
sorted_len[int(len(sorted_len)*0.999)]

363

In [8]:
socre_list = train_df['socre'].to_list()

In [9]:
print(min(socre_list))
print(max(socre_list))

0.0
5.0